*(Autosaved)*
*DS_Store*
*~
*.log
*.status
*.cache
*.o
*.so
*.obj
*.lib
*.exp
*.dll
*.manifest
stamp-h*
Makefile
libtool
*libs/bit.*
*.la
*.lo
*deps/*.*o
config.h
confdefs.h
conftest*
build/*
*.build
CMakeCache.txt
CMakeFiles/*
# Using CMake causes these files to become generated ones:
bittest.lua
md5test.lua
nsievebits.lua
# More CMake junk:
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
cmake_install.cmake
# Distribution:
luabitop-*.*.*/*
*.tar.gz
.env.local
